* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}
body,
div,
dl,
dd,
dt,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
p,
table,
th,
td,
input,
figure,
figcaption,
blockquote {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
li,
ol,
ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 1rem;
}
em,
address {
    font-style: normal;
}
img,
svg,
video {
    display: block;
    height: auto;
    max-width: 100%;
}
img,
fieldset,
button {
    border: 0;
}
#wrap {
    width: 1920px;
    height: auto;
    background-color: #ccc;
}
